<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<%= image_tag @picture.url %>
<p>
  <strong>Album:</strong>
  <%= @picture.album %>
</p>

<p>
  <strong>Url:</strong>
  <!-- <%= @picture.url %> -->
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
